[Desktop Entry]
Name=Metronome
Comment=Play in rythm!
Exec=./metronome
Terminal=false
Type=Application
Icon=icon.png
X-Ubuntu-Touch=true
X-Lomiri-Touch=true

X-Ubuntu-Splash-Color=#535353
X-Ubuntu-Splash-Image=icon-splash.png

Name[en_US]=justnote
